# Data preparation

Let's have a first look to raw data and perform some preliminary operations before going into details with the ML algo

We are going to load a copy of the raw dataset from a github repo (better keep the original dataset in a safe position, just not to mess up hours of collecting data)

## 1. Loading dataset

In [2]:
import pandas as pd

In [7]:
url = 'https://raw.githubusercontent.com/MarcoCollesei/RentinBo/master/copy_of_dataset.csv'
copy_of_dataset = pd.read_csv(url)
copy_of_dataset

,tipologia,genere,zona,bagno,cucina,salotto,balcone,euro,range euro
0,singola,F,San Donato,1,1,1,0,320,300-325
1,singola,M/F,Marconi,1,1,1,0,465,450-475
2,singola,M/F,Saffi,1,1,1,0,430,425-450
3,singola,F,Irnerio,2,1,1,1,550,550-575
4,singola,F,S.Vitale,1,1,0,1,400,400-425
...,...,...,...,...,...,...,...,...,...
195,doppia,M/F,Bolognina,1,1,0,2,237,225-250
196,doppia,M/F,Malpighi,2,1,1,0,250,250-275
197,doppia,M/F,Bolognina,1,1,1,0,250,250-275
198,doppia,F,Malpighi,1,1,1,0,350,350-375
199,doppia,F,Galvani,1,1,0,0,300,300-325

Here's our dataset, as we can see these are renting prices for single and double rooms in Bologna.
Each row has been completed with real informations that I've personally collected browsing on Subito.it

## 2. Inspect  dataset dimension

Simply get a look of the shape of 'copy_of_dataset'

In [10]:
shape = copy_of_dataset.shape
shape

(200, 9)

We have 200 rows, exactly divided between single and double rooms, and 9 columns, of which the first 7 are the features and the last two are our target. (We'll drop the second last column later, because our purpose is to predict a range of rent prices, not an exact value. This comes from the consideration that rent prices are subject to homeowners' personal decisions and other factors not always included in ads)

## 3. Get an idea of types in dataset

In [11]:
types = copy_of_dataset.dtypes
print(types)

tipologia     object
genere        object
zona          object
bagno          int64
cucina         int64
salotto        int64
balcone        int64
euro           int64
range euro    object
dtype: object

It was pretty intuitive but it's better not to leave anything to chance.