In [1]:
import pandas as pd

In [173]:
dataset = pd.read_csv('ready_dataset.csv')

In [174]:
dataset = dataset.drop(columns = 'Unnamed: 0')
dataset

    tipologia genere        zona  bagno  cucina  salotto  balcone range euro
0      doppia    M/F   Bolognina      1       1        0        0    225-250
1      doppia      F     Galvani      1       1        0        0    300-325
2     singola    M/F   Bolognina      2       1        0        1    350-375
3      doppia      M     Mazzini      1       1        1        1    275-300
4     singola      M  San Donato      1       1        0        1    350-375
..        ...    ...         ...    ...     ...      ...      ...        ...
195   singola    M/F  San Donato      1       1        1        0    450-475
196    doppia      F  San Donato      1       1        0        1    200-225
197    doppia      F       Saffi      1       1        1        0    225-250
198    doppia      F     Mazzini      1       1        1        0    250-275
199   singola      F     Irnerio      1       1        0        0    450-475

[200 rows x 8 columns]

In [179]:
dataset.dtypes

tipologia     object
genere        object
zona          object
bagno          int64
cucina         int64
salotto        int64
balcone        int64
range euro    object
dtype: object

In [194]:
dummy_dataset = pd.get_dummies(dataset, columns = ['tipologia', 'genere', 'zona'])
dummy_dataset

,bagno,cucina,salotto,balcone,range euro,tipologia_doppia,tipologia_singola,genere_F,genere_M,genere_M/F,...,zona_Lame,zona_Malpighi,zona_Marconi,zona_Mazzini,zona_Murri,zona_S.Ruffillo,zona_S.Viola,zona_S.Vitale,zona_Saffi,zona_San Donato
0,1,1,0,0,225-250,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,1,0,0,300-325,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,1,0,1,350-375,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,1,275-300,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
4,1,1,0,1,350-375,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1,1,1,0,450-475,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
196,1,1,0,1,200-225,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
197,1,1,1,0,225-250,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
198,1,1,1,0,250-275,1,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
199,1,1,0,0,450-475,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [196]:
columns = list(dummy_dataset.columns.values)
columns.pop(columns.index('range euro')) 
dummy_dataset = dummy_dataset[columns+['range euro']]
dummy_dataset

,bagno,cucina,salotto,balcone,tipologia_doppia,tipologia_singola,genere_F,genere_M,genere_M/F,zona_Barca,...,zona_Malpighi,zona_Marconi,zona_Mazzini,zona_Murri,zona_S.Ruffillo,zona_S.Viola,zona_S.Vitale,zona_Saffi,zona_San Donato,range euro
0,1,1,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,225-250
1,1,1,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,300-325
2,2,1,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,350-375
3,1,1,1,1,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,275-300
4,1,1,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,350-375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1,1,1,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,450-475
196,1,1,0,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,200-225
197,1,1,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,225-250
198,1,1,1,0,1,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,250-275
199,1,1,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,450-475

In [225]:
array = dummy_dataset.values
X = array[:,0:27]
X

array([[1, 1, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0],
       [2, 1, 0, ..., 0, 0, 0],
       ...,
       [1, 1, 1, ..., 0, 1, 0],
       [1, 1, 1, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0]], dtype=object)

In [227]:
Y = array[:,27]
Y

array(['225-250', '300-325', '350-375', '275-300', '350-375', '400-425',
       '250-275', '450-475', '325-350', '400-425', '275-300', '275-300',
       '325-350', '425-450', '350-375', '350-375', '550-575', '300-325',
       '250-275', '450-475', '250-275', '225-250', '300-325', '450-475',
       '225-250', '400-425', '350-375', '225-250', '450-475', '300-325',
       '250-275', '400-425', '375-400', '400-425', '325-350', '200-225',
       '325-350', '350-375', '250-275', '250-275', '300-325', '200-225',
       '325-350', '250-275', '500-525', '225-250', '350-375', '200-225',
       '450-475', '325-350', '400-425', '225-250', '425-450', '225-250',
       '350-375', '400-425', '425-450', '300-325', '275-300', '275-300',
       '350-375', '500-525', '450-475', '225-250', '325-350', '300-325',
       '350-375', '400-425', '350-375', '275-300', '350-375', '200-225',
       '250-275', '400-425', '400-425', '300-325', '275-300', '225-250',
       '350-375', '225-250', '400-425', '300-325', '425-450', '200-225',
       '325-350', '375-400', '400-425', '400-425', '375-400', '350-375',
       '350-375', '300-325', '225-250', '250-275', '300-325', '225-250',
       '350-375', '650-675', '400-425', '250-275', '200-225', '450-475',
       '450-475', '350-375', '275-300', '400-425', '300-325', '275-300',
       '400-425', '250-275', '375-400', '250-275', '250-275', '450-475',
       '350-375', '400-425', '225-250', '450-475', '250-275', '350-375',
       '200-225', '300-325', '375-400', '450-475', '325-350', '325-350',
       '200-225', '400-425', '225-250', '250-275', '300-325', '500-525',
       '200-225', '300-325', '200-225', '225-250', '250-275', '250-275',
       '400-425', '275-300', '350-375', '250-275', '300-325', '550-575',
       '250-275', '300-325', '250-275', '250-275', '250-275', '225-250',
       '250-275', '450-475', '325-350', '400-425', '250-275', '400-425',
       '450-475', '275-300', '325-350', '250-275', '300-325', '275-300',
       '300-325', '400-425', '175-200', '300-325', '225-250', '175-200',
       '500-525', '250-275', '350-375', '325-350', '250-275', '375-400',
       '375-400', '275-300', '500-525', '250-275', '450-475', '325-350',
       '500-525', '350-375', '350-375', '250-275', '225-250', '225-250',
       '350-375', '200-225', '400-425', '400-425', '525-550', '175-200',
       '550-575', '300-325', '375-400', '450-475', '200-225', '225-250',
       '250-275', '450-475'], dtype=object)